@import '@/assets/styles/_variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $tertiary-color;
  box-shadow: 0 4px 24px 0 rgba(black, 0.1);
  transition: box-shadow 0.25s ease-in-out;

  &_scroll {
    box-shadow: 0 4px 24px 0 rgba(black, 0.5);
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
}

.left {
  display: flex;
  align-items: center;
}

.burger_menu {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 65px;

  > div {
    height: 3px;
    margin-bottom: 8px;
    border-radius: 30px;
    background-color: $primary-color;

    &:first-child {
      width: 100%;
    }

    &:nth-child(2) {
      width: 40%;
      transition: width 0.25s ease-in-out;
    }

    &:last-child {
      width: 60%;
      margin-bottom: 0;
      transition: width 0.25s ease-in-out;
    }
  }

  @media (hover: hover) {
    &:hover {
      > div {
        &:nth-child(2) {
          width: 100%;
        }

        &:last-child {
          width: 100%;
        }
      }
    }
  }
}

.logo {
  position: relative;
  width: 75px;
  height: 47px;
  user-select: none;
}

.right {
  display: flex;
  align-items: center;
}

@media (max-width: 1440px) {
  .burger_menu {
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .inner {
    display: block;
    padding: 16px 0;
  }

  .right {
    display: none;
  }

  .left {
    justify-content: space-between;
  }

  .burger_menu {
    width: 30px;
    margin-right: 10px;

    > div {
      margin-bottom: 5px;

      &:nth-child(2) {
        width: 50%;
      }

      &:last-child {
        width: 70%;
      }
    }
  }

  .logo {
    width: 61px;
    height: 38px;
  }
}
