$primary-color: #fff;
$secondary-color: #000;
$tertiary-color: #222;
$primary-color-opacity: rgba($primary-color, 0.8);
$secondary-color-opacity: rgba($secondary-color, 0.8);
$roboto-font: var(--var-roboto);
